.demo-surface[data-theme] {
  background: var(--md-sys-color-surface-container-low);
  border-radius: var(--md-sys-shape-corner-large) var(--md-sys-shape-corner-large) 0 0;
}

.demo-surface {
  all: initial;
  display: flow-root;
  padding-block: 20px;
  -webkit-font-smoothing: antialiased;
  border-end-end-radius: 0;
}
