@import "@brijbyte/md3-react/tokens.css";
@import "@brijbyte/md3-react/ripple.css";
@import "@brijbyte/md3-react/tabs.css";

.demo-tabs-icons {
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 100%;
  max-width: 480px;
}
