@import "@brijbyte/md3-react/tokens.css";
@import "@brijbyte/md3-react/ripple.css";
@import "@brijbyte/md3-react/button.css";
@import "@brijbyte/md3-react/snackbar.css";

.demo-snackbar-basic {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
}
