@import "@brijbyte/md3-react/tokens.css";
@import "@brijbyte/md3-react/ripple.css";
@import "@brijbyte/md3-react/button.css";
@import "@brijbyte/md3-react/checkbox.css";
@import "@brijbyte/md3-react/switch.css";

.demo-base-ui-props {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 16px;
}
