@layer components {
  .root {
    display: inline-flex;
    width: 48px;
    height: 48px;
    box-sizing: border-box;
  }

  .root[data-contained] {
    background-color: var(--md-sys-color-primary-container);
    border-radius: var(--md-sys-shape-corner-full);
  }

  .svg {
    width: 100%;
    height: 100%;
    display: block;
    overflow: visible;
  }

  .rotator {
    transform-origin: 50px 50px;
  }

  .path {
    fill: var(--md-sys-color-primary);
  }

  .root[data-contained] .path {
    fill: var(--md-sys-color-on-primary-container);
  }
}
