.demo-secondary-tabs {
  width: 480px;
  max-width: 100%;
}

.demo-secondary-tabs .panel {
  padding: 16px;
  color: var(--md-sys-color-on-surface);
  font: var(--md-sys-typescale-body-medium-weight) var(--md-sys-typescale-body-medium-size) /
    var(--md-sys-typescale-body-medium-line-height) var(--md-sys-typescale-body-medium-font);
}
