@import "@brijbyte/md3-react/button.css";
@import "@brijbyte/md3-react/bottom-sheet.css";
@import "@brijbyte/md3-react/typography.css";

.demo-bottom-sheet-basic {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 0 24px 24px;
}
